<h2><%= @person["name"] %></h2>

<% if not @person["biography"].blank? %>
  <h3>소개:</h3>
  <p><%= @person["biography"] %></p>
<% end %>

<% if not @person["known_for_department"].blank? %>
  <h3>직업: <span><%= @person["known_for_department"] %></span></h3>
<% end %>

<% if not @person["deathday"].blank? %>
  <h3>사망일: <span><%= @person["deathday"] %></span></h3>
<% end %>

<% if @person["gender"] != 0 %>
  <h3>성별: <span><%= @person["gender"] == 1 ? '여자' : '남자' %></span></h3>
<% end %>

<% if not @person["popularity"].blank? %>
  <h3>인기도: <span><%= @person["popularity"] %></span></h3>
<% end %>

<% if not @person["place_of_birth"].blank? %>
  <h3>태어난 장소: <span><%= @person["place_of_birth"] %></span></h3>
<% end %>

<% if not @person.person_as_name.blank? %>
  <h3>불리는 이름</h3>
  <ul class="ui list">
    <% for name in @person.person_as_name %>
      <li><%= name["name"] %></li>
    <% end %>
  </ul>
<% end %>